/* CHANGES THE FONT OF HEADER*/
h1{
    margin-top: 10%;
    font-family: 'Times New Roman', Times, serif;
}

/*FORM DESIGN*/
.container {
    text-align: center;
    animation: changeColor 4s linear infinite;
    border-radius: 12px;
    padding: 1px;
    width: 40vw;
    margin-top:6%;
}

.formArea {
    margin-top: 5%;
}

/* ADDS BRAND LOGO */
.loginImg{
    margin-top: 2%;
    height: 200px;
    width: auto;
}

body{
    background-image: url('../images/bg_new.jpg');
    /* backface-visibility: hidden; */
    background-size: cover;
}

/* Adding keyframe for color change */
@keyframes changeColor {
    0% {
        background-color: #92cff8;
    }

    50% {
        background-color: #a5e73c;
    }

    100% {
        background-color: #3498db;
    }
}